[Unit] 
Description=Bluewalker - listening for ruuvitags
Requires=ruuvi-stackdriver.socket
Wants=bluetooth.service
After=bluetooth.service

[Service] 
ExecStartPre=-/bin/hciconfig hci0 down
ExecStart=/usr/local/bin/bluewalker -ruuvi -device hci0 -json -duration -1 -unix /run/ruuvi.socket
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
