[Unit]
Description=Accept Ruuvi json on a socket and convert it to HTTP Posts

[Socket]
ListenStream=/run/ruuvi.socket
Accept=yes
#ListenStream=127.0.0.1:9999

[Install]
WantedBy=sockets.target

